<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Exhibition_Vehicles.My.MySettings.ConnectionString"
            connectionString="Provider=SQLNCLI11;Data Source=DESKTOP-CBPSEOH\MSSQLSERVERR;Integrated Security=SSPI;Initial Catalog=vehicle"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>